<?php foreach ($items as $pageObj): ?>
    <?php
        $fileName = $pageObj->page->getBaseFileName();
        $groupStatus = $this->getCollapseStatus($fileName);
        $dataId = $this->dataIdPrefix.'-'.$fileName;
        $searchMode = strlen($this->getSearchTerm()) > 0;
        $cbId = 'cb'.md5($fileName);

        $pageTitle = $pageObj->page->getViewBag()->property('title');
        $pageUrl = $pageObj->page->getViewBag()->property('url');

        if (class_exists('\RainLab\Translate\Behaviors\TranslatableModel')) {
            $locale = \RainLab\Translate\Classes\Translator::instance()->getLocale();
            $pageTitle = isset($pageObj->page->viewBag['title']) ? $pageObj->page->viewBag['title'] : $pageTitle;
            $pageUrl = isset($pageObj->page->getViewBag()->property('localeUrl')[$locale]) ? $pageObj->page->getViewBag()->property('localeUrl')[$locale] : $pageUrl;
        }

    ?>
    <li
        class="<?= $pageObj->subpages ? 'has-subitems' : null ?>"
        data-status="<?= $groupStatus || !$pageObj->subpages ? 'expanded' : 'collapsed' ?>"
        data-group-id="<?= e($fileName) ?>"
        data-item-path="<?= e($fileName) ?>"
        <?php if ($searchMode): ?>data-no-drag-mode<?php endif ?>
        data-id="<?= e($dataId) ?>"
    >
        <div>
            <a href="#">
                <?= e($pageTitle) ?>
                <span class="comment"><?= e($pageUrl) ?></span>
            </a>

            <input type="hidden" name="object[<?= e($fileName) ?>]" value="0"/>
            <div class="checkbox custom-checkbox nolabel">
                <input
                    id="<?= $cbId ?>"
                    type="checkbox"
                    name="object[<?= e($fileName) ?>]"
                    <?= $this->isItemSelected($fileName) ? 'checked' : null ?>
                    data-request="<?= $this->getEventHandler('onSelect') ?>"
                    value="1">
                <label class="storm-icon-pseudo" for="<?= $cbId ?>">Select</label>
            </div>

            <ul class="submenu">
                <li>
                    <a
                        href="#"
                        data-control="create-object"
                        data-parent="<?= $fileName ?>"
                    >
                        <i class="icon-plus"></i>
                        <?= e(trans($this->addSubpageLabel)) ?>
                    </a>
                </li>
            </ul>
        </div>

        <ol>
            <?php if ($subpages = $pageObj->subpages): ?>
                <?= $this->makePartial('treebranch', ['items' => $subpages]) ?>
            <?php endif ?>
        </ol>
    </li>
<?php endforeach ?>
